* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0044cc;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navbar a {
    color: white;
    margin: 0 15px;
    font-size: 18px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0044cc;
}

/* footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #0044cc;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}
