body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #3e2a47;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: block;
}

nav ul li a {
    color: white;
}

.chocolate-collection {
    display: block;;
    padding: 30px;
}

.chocolate-card {
    background-color: #fff;
    padding: 20px;
    width: 250px;
    margin: 15px;
    text-align: center;
    border-radius: 8px;
}


.chocolate-card img {
    width: 100%;
    height: auto;
}

.chocolate-card h2 {
    color: #3e2a47;
    margin: 10px ;
}

.price {
    font-size: 20px;
    color: #28a745;
    margin: 10px 0;
}

.actions {
    display: block;
    margin-top: 15px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    margin: 5px;
    border-radius: 5px;
}

footer {
    background-color: #3e2a47;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
}
