* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1b1b32;
    color: #0d00ff;
    line-height: 1.6;
}

header {
    background-color: #0d6118;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #333;
}

header h1 {
    font-size: 2.5em;
    margin-left: 20px;
    color: #1b1b32;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #1b1b32;
    background-color: #00ff9d;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #1b1b32;
    color: #5900ff;
}

.join {
    background-color: #076168;
    padding: 50px 20px;
    text-align: center;
    color: #ff0000;
}

.join h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.join p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.join .join-btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #076168;
    background-color: #11ff00;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.join .join-btn:hover {
    background-color: #1b1b32;
    color: #00aeff;
}

.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    margin-bottom: 50px;
}

.section h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #82c91e;
}

.section p {
    font-size: 1.2em;
    color: #ffaa00;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.images .images {
    width: 300px;
    height: 200px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.images .images:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px 0, 0, 0, 0.3;
}

.images .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #146eaa;
    padding: 20px;
    text-align: center;
    color: #ff5e00;
}
.GOA  a{
    color: rgba( 0, 0, 0.3);
    text-decoration: none;
}