body {
    font-family: 'Arial', sans-serif;
    background-color: #ff0000;
    color: #ff4000;

}

.robots {
    width: 1000px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #03c609b8;
}

.robot {
    background-color: #2200ff;
    padding: 40px;
    margin: 20px 0;
    border-radius: 12px;
}

.robot h2 {
    font-size: 40px;
    color: #1b5e20;
}

.adventure {
    background-color: #00ddff;
    padding: 40px;
    border-radius: 12px;
}

.adventure h2 {
    font-size: 40px;
    color: #7700ff;
}
