body {
    font-family: 'Verdana', sans-serif;
    background-color: #ff0000;
    color: #00f7ff;
}

.island {
    width: 1000px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #ff3c00;
}

.beach {
    background-color: #00d2156e;
    padding: 30px;
    margin: 20px 0;
    border-radius: 12px;
}

.beach h2 {
    font-size: 40px;
    color: #d000ff;
}

.forest {
    background-color: #d9ff00;
    padding: 30px;
    border-radius: 12px;
}

.forest h2 {
    font-size: 40px;
    color: #00ff0d;
}
