body {
    font-family: 'Arial', sans-serif;
    background-color: #ff0000;
    margin: 0;
    padding: 0;
    color: #ff2a00;
  }

  header {
    background-color: #ddff00;
    color: rgba(0, 134, 31, 0.704);
    padding: 20px;
    text-align: center;
  }
  
  
  .container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #00eeff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(68, 0, 255);
  }

  .friend {
    margin-bottom: 20px;
  }
  
  .friend h2 {
    color: #9900ff;
    font-size: 1.5em;
  }
  
  .friend p {
    line-height: 1.6;
    font-size: 1em;
    color: #7bff00;
  }

  footer {
    text-align: center;
    background-color: #0095ff;
    color: rgb(255, 255, 255);
    padding: 50px;
  }
  
  