* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ff0000;
    color: #00c86e;
    text-shadow: 5px 5px 10px rgb(76, 0, 255);
}

header {
    background-color: #0000ff;
    padding: 10px;
    text-shadow: 5px 5px 10px rgb(255, 0, 0);
}

nav ul li {
    margin: 15px;
    text-shadow: 5px 5px 10px rgb(4, 255, 0);
}

nav ul li a {
    color: rgb(255, 38, 0);
    font-size: 20px;
    text-shadow: 5px 5px 10px rgb(255, 255, 0);
}

.hero {
    background-color: #00d0ff;
    color: rgb(149, 0, 255);
    text-align: center;
    padding: 60px ;
    text-shadow: 5px 5px 10px rgb(0, 255, 234);;
}
h1{
    color: #ff000073;
    text-shadow: 5px 5px 10px rgb(76, 0, 255);
    font-size: larger;
    text-align: center;
}


h2 {
    color: #003366;
    font-size: 28px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 10px rgb(115, 0, 255);
}

.dance-category {
    background-color: #3cff00;
    border: 5px solid black;
    margin-bottom: 20px;
    padding: 20px;
    text-shadow: 5px 5px 10px rgb(0, 255, 21);
}

.teacher {
    background-color: #19700873;
    padding: 20px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 10px rgb(255, 0, 0);
}

footer {
    background-color: #003366;
    color: rgba(255, 103, 103, 0.549);
    text-align: center;
    padding: 10px ;
    text-shadow: 5px 5px 10px rgb(255, 255, 0);
}

footer p {
    font-size: 15px;
    color: darkgreen;
    text-shadow: 5px 5px 10px rgb(9, 255, 0);
}
